
<div class="container pt-5 " routerLink="/about">
    
  <h1 class="text-center  pt-5 tx">About us</h1>
 <hr class="w-25 text-center mx-auto">
 <div class="container" class="pt-5 pb-5">
    <div class="row" >
        <div class="col-sm-5" >
       <img class="image-responsive" src="../../assets/img/mission.jpg" class="img-fluid">
        </div>
        <div class="col-sm-7">
          <h3 class="pb-4">MISSION</h3>
          <p>
             5 ELEMENTS is committed to the constructability of client’s ideas; translating the
             ideas into the reality.
             We have decided that our design practice will be from the inside out; we will make our
             contribution as interior architects. We believe it takes special expertise to design an
             outstanding interior space. We will provide clients with the broadest possible range of
             related services and the highest possible level of expertise. We believe that the magic
             lies in the details.
             
          </p>
        </div>
      </div>  
 </div>
 <div class="container" class="pt-5 pb-5">
    <div class="row" >
        
        <div class="col-sm-7">
          <h3 class="pb-4">VISION</h3>
          <p>
              5 ELEMENTS will be a leader in the design of the built interior environment. Our work
              will reflect imagination and intelligence, creating exceptional spaces that enhance and
              enrich the human experience. Our finished environments will inspire those who
              experience them. 5 ELEMENTS will use innovative approaches to designs that are
              essentially new ways of looking at the enduring questions of living: working and playing
              in the constructible space. To accomplish this, we believe we have to be experts in what
              our clients want. We strive to be specialists in design trends, construction costs and how
              they interact.
              
             
          </p>
        </div>
        <div class="col-sm-5" >
            <img class="image-responsive" src="../../assets/img/vision.jpg" height="250px" width="420px">
             </div>
      </div>  
 </div>
 <div class="container" class="pt-5">
    <div class="row" >
        <div class="col-sm-5" >
       <img class="image-responsive" src="../../assets/img/approach1.png" class="img-fluid">
        </div>
        <div class="col-sm-7 pb-5">
          <h3 class="pb-4">APPROACH</h3>
          <p>
              We believe in listening to our clients and translating the language of their souls into the
              words of design. We encourage sharing any visuals and/or experiences to create a
              communication platform. A successful project is one in which at completion, the client
              realizes their visions and goals within the space and feels as though the design.
              
             
          </p>
        </div>
      </div>  
 </div>
   <div class="container pt-5">
     <p class="text-center pt-5 pb-5" style="font-size: 35px;">HOW WE WORK</p>
     <video width="600px" height="300px" controls>
      <source src="../../assets/img/5 Elements.mp4" type="video/mp4">
    </video>
   </div>


        </div>
       

       
        <footer style="background-color: black ;color: white;" class="pt-2 pb-2">
          <p class="text-center" style="font-size: 18  px"> &copy;copyright Edunomics.in</p>
         </footer>