.tx
  {
      color:navy
  }
  .bg
  {
   background-color:  #E9ECEF;
  }
  .image-responsive{
    height: auto !important;
    max-width:100% !important;
  }
  @media only screen and (max-width:360px){
    .image-responsive{
      width: 40rem !important;
      height: auto !important;
    }
  }

  