
      <body class="pt-5 pb-5">

        <!-- MAIN (Center website) -->
        <div class="main">
        
        <h1>PORTFOLIO</h1>
        <hr>
        
        
        
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('nature')"><b>Gallery</b> </button>
          <button class="btn" onclick="filterSelection('cars')"><b> Furniture</b></button>
          <button class="btn" onclick="filterSelection('people')"><b>Interior Designing</b> </button>
          
        </div>
        
        <!-- Portfolio Gallery Grid -->
        <div class="row ">
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/img/A.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
            <img src="../../assets/img/B.jpg"  style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
            <img src="../../assets/img/C.jpg" style="width:100%">
              
            </div>
          </div>
          
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/img/G.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/img/study tables.jpg " style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/img/wardrobe.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
            <img src="../../assets/img/E.jpg"  style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
            <img src="../../assets/img/F.jpg"style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
              <div class="content">
              <img src="../../assets/img/Portfolio1.jpg"  style="width:100% " >
              </div>
            </div>
            <div class="column cars rn">
                <div class="content">
                <img src="../../assets/img/Portfolio2.jpg"  style="width:100% " >
                </div>
              </div>
              <div class="column cars rn">
                  <div class="content">
                  <img src="../../assets/img/Portfolio3.jpg"  style="width:100% " >
                  </div>
                </div>
        
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/img/D.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
            <img src="../../assets/img/H.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
            <img src="../../assets/img/3A.jpg"  style="width:100% " >
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
            <img src="../../assets/img/paintings and wallpaper.jpg"  style="width:100%  ;" >
        
             
            </div>
          </div><div class="column people rn">
            <div class="content">
            <img src="../../assets/img/modular kitchen.jpg"  style="width:100% " >
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
            <img src="../../assets/img/crockery units.jpg"  style="width:100% " >
             
            </div>
          </div>
          <div class="column people rn">
              <div class="content">
              <img src="../../assets/img/center.jpg"  style="width:100% " >
               
              </div>
            </div>
            <div class="column people rn">
                <div class="content">
                <img src="../../assets/img/222.jpg"  style="width:100% " >
                 
                </div>
              </div>
        
        <!-- END GRID -->
        </div>
        
        <!-- END MAIN -->
        </div>
</body>  
<footer style="background-color: black ;color: white;" class="pt-2 pb-2">
  <p class="text-center" style="font-size: 18  px"> &copy;copyright Edunomics.in</p>
 </footer>