<div class="container-fluid pt-5 ">
    <h1 class="text-center pt-5 tx">BLOG</h1>
    <hr class="w-25  mx-auto">
    <div class="container">
    <p style="padding-top: 50px ; font-size: 35px" >Blogs --></p>
    <p  style="padding-top: 50px ; font-size: 35px">How to get your Interiors done within your budgets with ease : CostFinder</p>
    <p style="padding-top: 20px ; font-size: 20px">Are you Looking for interior solutions for your home with the latest in home interior styles? Fresh or Refurbishing it can be prove 
      to be an expensive affair and proper planning is essential when you’re working with a budget! Our End to end approach and team of 
      experts came up with these 
      tips to help you upscale your home interior without burning a hole in your wallet.</p>  
      <img src="../../assets/img/carousel1.jpg" height="400px" width="1100px">
<p style="font-size:25px; padding-top: 50px"><b>Let’s Have a plan and then Prioritize</b></p>
<p style="padding-top: 20px ; font-size:20px">You must be having a fairly good idea of what you would like in your home. Perhaps you would like to have new furniture or redo the fixed furniture like wardrobes and kitchen cabinets, or maybe your bathrooms need a makeover. You might also be looking at a quick refresh of your curtains and upholstery. Be specific. Whatever ideas you may have, write them all down or create some inspiration boards, and then prioritize!
  </p>
<p style="font-size:25px; padding-top: 50px"><b>Find Your Budget : Cost Finder</b></p>
<p style="padding-top: 20px ; font-size:20px">Once you have some idea about the totality of your project, lets play around with options and choices in CostFinder. You can set your priorities based on how much you are willing to spend in cost finder. If something is not essential right away, push it to the second phase of your budget. Have an upper limit to your budget that you cannot afford to exceed. Prediction of CostFinder will be 10-15% up or down based on the final discussion of scope designed Keeping things as realistic as possible.
</p>
<p style="font-size:25px; padding-top: 50px" ><b>Lets Make The Final Plan! </b></p>
<p  style="padding-top: 20px ; padding-bottom: 50px; font-size:20px" >Its a preconceived notion that it’s quite difficult to manage the project and they bound to delay and ends up being a never-ending project, simply because they keep adding on new requirements as they go along! Remember that if you keep changing your mind it’s going to add to the cost of your home interiors and addition in predicted cost. 
  </p>


</div>
        </div>