


<img class="imageresponsive"
  src="../../assets/img/thumb2-modern-interior-design-bedroom-minimalism-style-wooden-wall-on-the-bed-wooden-light-boards.jpg"
  alt="Snow" style="width:100%;">
<div class="top-left">
  <h1 style="color: #CC1E44"><b>End-to-end </b>&nbsp;<b style="color: black">home interiors</b></h1>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <i class="fa fa-thumbs-o-up fa-2x" style="padding-left: 35px;"></i>
          <p class="pt-3" style="font-size: 16px;"> <b>10 years warranty</b></p>
        </div>
        <div class="col-sm-1">
          <div class="vl"></div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-inr fa-2x" style="padding-left:35px;" aria-hidden="true"></i>
          <p class="pt-3" style="font-size: 16px;"> <b>Best Price Guarantee</b></p>
        </div>
        <div class="col-sm-1">
          <div class="vl"></div>
        </div>
        <div class="col-sm-3">
          <i class="fas fa-couch fa-2x" style="padding-left: 35px;"></i>
          <p class="pt-3" style="font-size: 16px;"> <b>Personalized Design</b></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pt-5">
  <p class="text-center pb-5" style="font-size: 35px"><b>What do we offer?</b></p>
  <hr>
  <div class="row">
    <div class="col-sm-4 text-center"><i class="fa fa-cutlery fa-3x" aria-hidden="true"></i></div>
    <div class="col-sm-4"><b style="font-size: 20px">MODULAR</b></div>
    <div class="col-sm-4">
      <h5>
        <p class="pb-1"><b> Kitchen<br></b></p>
        <em> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Straight, Parallel ,L-shape, U-shape, Island<br></em>
        <p class="pb-1 pt-1"><b> Wardrobe<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Sliding doors, Swing doors<br></em>
        <p class="pb-1"><b>Storage<br></b></p>
        <em> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;TV units,Sideboards ,Chest of drawers, Shoe racks, Bookshelves,
          Wall-mounted storage, Foyer units</em>
      </h5>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4 text-center"><i class="fas fa-couch  fa-3x" aria-hidden="true"></i></div>
    <div class="col-sm-4"><b style="font-size: 20px">FURNITURE</b></div>
    <div class="col-sm-4">
      <h5>

        <p><b> Beds<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;King,Queen,Single,Bunk, Wall-mounted<br></em>
        <p><b> Sofas<br></b></p>
        <em> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Single, 2-seaters,3-seaters, sectionals ,diwans<br></em>
        <p><b> Storage<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 4-seater, 6-seater ,8-seater<br></em>
        <p><b> Seating<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;ottomans, stools, benches, accent chairs<br></em>
        <p><b> Tables<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; coffee tables, side tables, console tables, end tables ,study
          tables<br></em>
        <p><b> Pooja Unit<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 4-seater ,6-seater, 8-seater<br>
          down direction<br></em>

      </h5>


    </div>


  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4 text-center"><i class="fas fa-tv fa-3x" aria-hidden="true"></i></div>
    <div class="col-sm-4"><b style="font-size: 20px">FURNISHING & DECOR</b></div>
    <div class="col-sm-4">

      <h5>
        <p><b> Furnishing<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; curtains ,home linen ,upholstery, rugs<br></em>
        <p><b> Wall treatment<br></b></p>
        <em> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; wallpapers, cladding, paneling ,decals<br></em>
        <p><b> Decor<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; potted plants, wall art, mirrors<br></em>
        <p><b> Decor<br></b></p>
        <em>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; fridge ,washing machine, chimney, hob ,microwave, conventional
          oven<br></em>
        <p><b> Lighting<br></b></p>
        <em> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; lamps ,cove lights ,pendant fixtures, table lamps ,outdoor
          lamps<br></em>
      </h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4 text-center"><i class="fas fa-brush fa-3x" aria-hidden="true"></i></div>
    <div class="col-sm-4"><b style="font-size: 20px ">HOME IMPROVEMENT SERVICES</b></div>
    <div class="col-sm-4">

      <h5><b> False ceiling<br>
          Painting<br>
          Bathroom remodeling<br>
          Flooring & wall tiling<br>
          Plumbing<br>
          Electrical<br></b></h5>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #F8F8F8">
  <p class="text-center" style="font-size: 35px">Why choose us?</p>
  <p class="text-center" style="font-size: 20px"><b>Dream home interiors with unmatched benefits</b></p>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-5" style="padding: 0px">
        <img  class="image-responsive" src="../../assets/img/copper-details-with-pink.jpg" width="450px" >
      </div>
      <div class="col-sm-7" style="padding: 0px">
         
        <hr>
        <h4>Up to 10-yr warranty+</h4>
        <p>Modular kitchen, wardrobe, storage and loose furniture are covered</p>
        <hr>
        <h4>Easy EMIs</h4>
        <p>Get flexible payment options thanks to our association with top financial companies

          </p>

        <hr>

        <h4>End-to-end service</h4>
        <p>Design expertise, manufacturing, delivery & installation under one roof</p>


        <hr>

        <h4>Price match</h4>
        <p>Produce a valid quote from another brand or supplier and we’ll match the price</p>


        <hr>

      <h4>2000+ interior designers</h4>
        <p>Award-winning experts who can personalize your home just the way you want it</p>
        <hr>
              <h4>12000+ products</h4>
              <p>Choose from the largest catalogue of furniture, modules, materials and finishes</p>
         <hr>

      </div>
    </div>
  </div>
</div>
<footer style="background-color: black ;color: white;" class="pt-2 pb-2">
 <p class="text-center" style="font-size: 18  px"> &copy;copyright Edunomics.in</p>
</footer>

