<div class="container-fluid pt-5 ">
    <h1 class="text-center pt-5 tx">BLOG</h1>
    <hr class="w-25  mx-auto">
    <div class="container">
    <p style="padding-top: 50px ; font-size: 35px" >Blogs --></p>
    <p  style="padding-top: 50px ; font-size: 35px">How to get your Interiors done within your budgets with ease : CostFinder</p>
    <p style="padding-top: 20px ; font-size: 20px">Are you Looking for interior solutions for your home with the latest in home interior styles? Fresh or Refurbishing it can be prove 
      to be an expensive affair and proper planning is essential when you’re working with a budget! Our End to end approach and team of 
      experts came up with these 
      tips to help you upscale your home interior without burning a hole in your wallet.</p> 
      <img src="../../assets/img/blog4.jpg"  height="400px" width="1100px">
      <p style="font-size:25px; padding-top: 50px" ><b>Rope in An Experienced contractor
        </b></p>
      <p style="padding-top: 20px ; font-size:20px">
          A contractor who is experienced and has a good reputation with renovations can easily cope with the complexities of a home renovation. He will be able to give you expert advice on calculating material estimates and will be able to optimize resources with minimal wastage. Experienced contractors will also have the services of expert carpenters and plumbers at their disposal.
        </p>
      <p style="font-size:25px; padding-top: 50px" ><b>Don’t Hesitate to Call in a Professional Designer!
        </b></p>
      <p style="padding-top: 20px ; font-size:20px">Generally homeowners think that hiring a professional designer would be an expensive proposition. However, nothing can be further from the truth! As a layperson, you are likely to make a lot of mistakes in design and execution which can prove costly in the long run. You will never be able to judge the quality of materials and finishes, and you may also not get the best deals on material costs. A professional designer will be able to give you the right advice and insights on design layout, materials and execution that will help you add aesthetic value and functionality at a fraction of the cost.
        </p>
      
      <p style="font-size:25px; padding-top: 50px" ><b>How 5ELEMENTS Can Add Value 
        </b></p>
      <p style="padding-top: 20px ; font-size:20px">We hope that the above tips will help you to stay within your means when undertaking your home interiors. All these services and more, can be handled efficiently by the 5Elelments team of designers and contractors. If you’re thinking of doing your home interior, all you have to do is pick up your phone and call! Don’t hesitate to give your home a makeover that you will love. After all, coming home to a space that you love will lift up your spirit everyday!
        </p>
</div>
</div>  
