<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 50px">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="image-responsive"  src="../../assets/img/carousel1.jpg" alt="Los Angeles" width="1100" height="100px">
      <div class="carousel-caption">
        
        <p style="color:black; font-size: 50px;"><b><em>HURRY!!!  For A Fabulous Interior </em></b></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img class="image-responsive" src="../../assets/img/carousel2.jpg" alt="Chicago" width="1100" height="100px">
      <div class="carousel-caption">
        
        <p style="color:black; font-size:50px;" ><b><em>Get A Design Which Makes You Smile</em></b></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img class="image-responsive" src="../../assets/img/carousel3.jpeg" alt="New York" width="1100" height="100px">
      <div class="carousel-caption">
        
        <p style="color:white; font-size: 50px;"><b>lorem lorem lorem</b></p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<!-- //Blog  -->
<div class="container-fluid pt-5">
  <p class="pt-5 pb-5 text-center tx" style="font-size: 35px;" ><b>BLOGS</b></p>
    <div class="row">
        <div class="col-sm-6">
            <img class="image-responsive" src="../../assets/img/blog1.jpg" alt="Easy Packaging" style="padding-left: 150px;" width="550px;" height="450px;">
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <img class="image-responsive" src="../../assets/img/blog2.jpg" alt="Easy Packaging" style="padding-left: 150px;" width="550px;" height="450px;">
        </div>
    </div>
    <div class="row">
          <div class="col-sm-6">
              <img class="image-responsive" src="../../assets/img/blog 3.jpg" alt="green packaging" style="padding-left: 50px;" width="500px;" height="450px;">
          </div>
          <div class="col-sm-6"></div>
      </div>
      <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                  <img class="image-responsive"  src="../../assets/img/blog4.jpg" alt="Easy Packaging" style="padding-left:200px;" width="650px;" height="400px;">
              </div>
          </div>
</div>
<!-- // blog cards  -->

      <div class="container ">
              <div class="card bg-light m1 " style="width:450px; height:385px;">
                  <div class="card-body ">
                    <p class="title1 pt-3 " style="font-size: 20px"><b>Do It Yourself</b></p>
                    <p class="para pt-3 ">
                      Are you handy with a saw or a paintbrush? If you are, and you have the time and the inclination for it,
                       you can cut costs by doing some of the work yourself. Paint a mural on your bedroom wall, or try creating your 
                       own special brand of wall décor with some textured paint or cut out stencils. For those with some interest in 
                       craft work, your home can be your canvas!

                    </p>
                    <a routerLink="/blog3" type="button" class="btn btn-outline-succcess"><b>Read More</b></a>
                    </div>

          </div>
          </div>

          <div class="container">
                  <div class="card bg-light m2 " style="width:450px; height:385px;">
                      <div class="card-body ">
                        <p class="title1 pt-3" style="font-size: 20px"><b>Get Your Interior</b></p>
                        <p class="para pt-3 ">
                          You must be having a fairly good idea of what you would like in your home.
                           Perhaps you would like to have new furniture or redo the fixed furniture like wardrobes and kitchen cabinets, 
                           or maybe your bathrooms need a makeover. You might also be looking at a quick refresh of your curtains and
                            upholstery. Be specific. Whatever ideas you may have, write them all down or create some inspiration boards, 
                            and then prioritize!

                        </p>
                        <a routerLink="/blog2" type="button" class="btn btn-outline-succcess"><b>Read More</b></a>
                        </div>

              </div>
              </div>
              <div class="container">
                      <div class="card bg-light m3 " style="width:450px; height:385px;">
                          <div class="card-body ">
                            <p class="title1 pt-3"  style="font-size: 20px"><b> Experienced contractor  </b></p>
                            <p class="para pt-3 ">
                              A contractor who is experienced and has a good reputation with renovations can easily cope with the complexities of a home renovation. He will be able to give you expert advice on calculating material estimates and will be able to optimize resources with minimal wastage. Experienced contractors will also have the services of expert carpenters and plumbers at their disposal.

                            </p>
                            <a routerLink="/blog4" type="button" class="btn btn-outline-succcess"><b>Read More</b></a>
                            </div>
   
                  </div>
                  </div>
                  <div class="container">
                      <div class="card bg-light m4 " style="width:450px; height:385px;">
                          <div class="card-body ">
                            <p class="title1 pt-3"><b>lorem lorem</b></p>
                            <p class="para pt-3 ">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nobis, dicta voluptatum sequi
                                 tenetur modi ut rerum quae accusamus voluptatem reprehenderit, officia ipsum in sunt sint, dolorem numquam sapiente itaque.
                                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus recusandae corporis voluptates debitis architecto pariatur, 
                                 officiis similique hic, eligendi totam obcaecati sequi. Quidem, non. Veritatis doloribus sapiente sint deleniti deserunt!
                            </p>
                            <a routerLink="/blog1" type="button" class="btn btn-outline-succcess"><b>Read More</b></a>
                            </div>
   
                  </div>
                  </div>
<!-- // card ends  -->
<!-- //end blog  -->
<!-- // footer  -->
<footer style="background-color: black ;color: white; margin-top: 250px" class="pt-2 pb-2">
  <p class="text-center" style="font-size: 18  px"> &copy;copyright Edunomics.in</p>
 </footer>
<!-- //end footer  -->



