<div class="container-fluid pt-5 ">
    <h1 class="text-center pt-5 tx">BLOG</h1>
    <hr class="w-25  mx-auto">
    <div class="container">
    <p style="padding-top: 50px ; font-size: 35px" >Blogs --></p>
    <p  style="padding-top: 50px ; font-size: 35px">How to get your Interiors done within your budgets with ease : CostFinder</p>
    <p style="padding-top: 20px ; font-size: 20px">Are you Looking for interior solutions for your home with the latest in home interior styles? Fresh or Refurbishing it can be prove 
      to be an expensive affair and proper planning is essential when you’re working with a budget! Our End to end approach and team of 
      experts came up with these 
      tips to help you upscale your home interior without burning a hole in your wallet.</p> 
      <img  src="../../assets/img/carousel2.jpg" height="400px" width="1100px">
  <p style="font-size:25px; padding-top: 50px" ><b>Whatever solid we may Plan -- Murphy Happens !!
    </b></p>
  <p style="padding-top: 20px ; font-size:20px">While it is always supposed to stick to your final plan, common sense should prevail and you should be prepared for the unexpected as well. Like in a renovation project the electrical lines may be old and worn out, your plumbing lines would have seen better days, and perhaps when you move things around you may find that parts of your flooring are worn out and faded. Fixing such pressing maintenance issues is obviously important, and you should have some amount set aside to cover such contingencies.
    </p>
  <p style="font-size:25px; padding-top: 50px" ><b>Do It Yourself!
    </b></p>
  <p style="padding-top: 20px ; font-size:20px;padding-bottom: 50px">
      Are you handy with a saw or a paintbrush? If you are, and you have the time and the inclination for it, you can cut costs by doing some of the work yourself. Paint a mural on your bedroom wall, or try creating your own special brand of wall décor with some textured paint or cut out stencils. For those with some interest in craft work, your home can be your canvas!
    </p>
    </div>
    </div>
