    <!-- home section start -->
    <div class="container-fluid animae ">
      <div class="col-lg-12" style="padding: 0%">
       <div class="img-opacity"></div>
         <div class="row">
             <div class="col-sm-6" style="padding: 0%">
               
                 
                 <img  class="image-responsive " src="../../assets/img/WhatsApp Image 2019-09-14 at 6.23.32 PM.jpeg" alt="abc" class="animated  slideInLeft delay-0s c1">
             </div>
           
            
             <div class="col-sm-6" style="padding: 0%">
                 <img class="image-responsive"  src="../../assets/img/WhatsApp Image 2019-09-14 at 6.22.59 PM.jpeg" alt="abx" class="animated slideInRight delay-0s c1">
             </div>
             
     
         </div>
     
     <div class=" c2" style="text-align: center;">
         <img class="image-responsive" src="../../assets/img/WhatsApp Image 2019-09-14 at 6.23.52 PM.jpeg" alt="xyz" class="animated slideInDown delay-0s c1">
         <!-- <a class="btn-success c3 animated slideInDown delay-0s" style="color: white; text-decoration: none"href="https://angular-s6hbwr.stackblitz.io/ " target="_blank">Cost Finder.</a>&nbsp;&nbsp;&nbsp; -->
         <a  href="http://costfinder.thefivelements.com" target="_blank" type=button class="button"><b>COST FINDER</b></a>
         <!-- <a class="btn-success c4 animated slideInDown delay-0s" style="color: white;text-decoration: none"  href="https://wa.me/919669911101 " target="_blank" >Call/Chat.</a> -->
     
     </div>
      </div>
 <div class="container-fluid animated  slideInLeft delay-0s mm1 " style="background-color:#97856D">
         <div class="container">
             <div class="row" style="color: white;">
                 <div class="col-sm-2"></div>
                 <div class="col-sm-2" style="padding-left: 50px"> RESIDENTIAL</div>
                 <div class="col-sm-2 ">
                     <ul class="bullet">
                         <li style="padding-left: 50px">COMMERCIAL</li>
                     </ul>
                 </div>
                 <div class="col-sm-2">
                     <ul class="bullet">
                         <li style="padding-left: 50px">HOSPITALITY</li>
                     </ul>
                 </div>
                 <div class="col-sm-2">
                     <ul class="bullet">
                         <li style="padding-left: 50px">RETAIL</li>
                     </ul>
                 </div>
                 <div class="col-sm-2"></div>
         
             </div>
         </div>
         </div>
 
     </div>
     <!-- home section end -->

     <!-- //image  -->
     <div class="container-fluid hide" style="padding-top: 80px;">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/img/01 fi copy.jpg" alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/3Mr.jpg" alt="Chicago" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/02 view.jpg" alt="New York" width="1100" height="500">
              </div>
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
     </div>
<!-- // image end  -->
    <!-- one stop interior start -->
<div class="container-fluid row ">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="container-fluid">
      <h1 class="text-center text-capitalize pt-5 tx"><b>One stop solution for all interior needs</b></h1>
      <h4 class="text-center text-capitalize pb-5 pt-3"><b>Design your complete home, right here at fivelements</b></h4>



      <div class="row  text-center mb-5 ">
        <div class="col-lg-3 col-md-4 col-12 rc">
          <div class="card rn border">
            <img class="card-img-top image-responsive" src="../../assets/img/A.jpg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title"><b>1000+ Happy Customers</b></h5>
              <p class="card-text">We will Design your space with the best interiors. Space planning, 3D design and project execution all at affordable price. 
              </p>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-12 rc ">
          <div class="card rn">
            <img class="card-img-top image-responsive" src="../../assets/img/B.jpg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title"><b>Modular Solution</b></h5>
              <p class="card-text">Experience the finest modular kitchens, wardrobes and furniture. Top quality materials, superior execution with best Design.


              </p>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-12 rc ">
          <div class="card rn">
            <img class="card-img-top image-responsive" src="../../assets/img/C.jpg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title"><b>Furniture,Decore and more</b></h5>
              <p class="card-text pt-4">From space-saving beds to statement lighting, our expert team brings all designs to life.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 rc">
          <div class="card rn">
            <img class="card-img-top image-responsive" src="../../assets/img/D.jpg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title"><b>On-Site Expertise</b></h5>
              <p class="card-text">Our execution experts transform designs to reality; civil work, paint, false ceilings and everything in between.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>



<!-- one stop interior end -->
  
<!----card-->
<div class="jumbotron bg-#808080">
  <h1 class="text-center text-capitalize pt-5 tx"><b>Interiors for all styles and budgets</b></h1>
  <h4 class="text-center text-capitalize pb-5 pt-3"><b>Choose from thousands of designs. Heart your favorites to
      shortlist.</b>
  </h4>


  <div class="container  bg-#808080">
    <div class="row ">
      <div class="col-sm-8  container-fluid  ">
        <div class="row ">
          <div class="col-sm-6 r  ">
            <img class="image-responsive" src="../../assets/img/NITIN CHOKA MASTER ROOM 01 copy.jpg">
            <div class="overlay"><b>Home</b>
             
            </div>

          </div>
          <div class="col-sm-6 r ">
            <img class="image-responsive" src="../../assets/img/E45.jpg">
            <div class="overlay"><b>Kitchen</b>
             
            </div>
          </div>


        </div><br>
        <div class="n">
          <img  class="image-responsive" src="../../assets/img/office-kitchen-furniture-the-united-states-kitchenette-commercial.jpg">
          <div class="overlay y"><b>Restaurant </b>
            
          </div>
        </div>
      </div>

      <div class="col-sm-4 c  ">
        <img class="image-responsive"  src="../../assets/img/eec35077e44abdd0d7e238419a1b28a7.jpg">
        <div class="overlay o"><b>Work station </b>
        
        </div>
      </div>


    </div>
   
      
    
  </div>
  <div class="pt-5 pb-5">
  <a routerLink="/services"  class="btn btn-outline-primary pull-right"><b>Read More</b></a>
    </div>
</div>
<!-- // cards ends  -->

<!-- our process -->
<div class="container">
  <p class="tx text-center" style="font-size: 40px" ><b>Our Process</b></p>
  <h4 class="text-center text-capitalize pb-5 pt-3"><b>Interiors for you designed and delivered</b></h4>
  <div class="row row1">
     <div class="col-sm-3 coll">
         <div class="card rn" >
         <img class="card-img-top" src="../../assets/img/Group 25.png" alt="Card image cap">
         <div class="card-body">
           <p class="card-text text"><b>1 - MEET AND AGREE</b></p>
         </div>
       </div>
       
     </div>
      <div class="col-sm-3 coll" style="margin-top: 280px">
         <div class="card rn">
            
             <div class="card-body" >
               <p class="card-text text"><b>2- CONCEPT AND DESIGN</b></p>
             </div>
             <img class="card-img-bottom" src="../../assets/img/depositphotos_107096008-stock-illustration-architect-designer-project-drawings.png" alt="Card image cap">
           </div>
      </div>
      <div class="col-sm-3 coll">
         <div class="card rn" >
             <img class="card-img-top" src="../../assets/img/f1.png" alt="Card image cap">
             <div class="card-body">
               <p class="card-text text"><b>3- PRODUCTION AND EXECUTION PHASE</b> </p>
             </div>
           </div>
      </div>
      <div class="col-sm-3 coll " style="margin-top: 280px">
         <div class="card rn" >
           
             <div class="card-body ">
               <p class="card-text text "><b>4- HAND OVER</b></p>
             </div>
             <img class="card-img-bottom" src="../../assets/img/Group 120.png" alt="Card image cap">
           </div>
      </div>
  </div>
</div>
<!-- // our process ends  -->
<!-- project -->

<div class="container text-center pt-5 pb-5">
  <p class="tx text-center" style="font-size: 45px" > <b>Our Project</b></p>
  <h4 class="text-center text-capitalize pb-5 pt-3"><b>Few of the finest works of our as Ready-to-order designs for your interiors.</b></h4>
<div class="row pt-5">
 <div class="col-sm-6">
     <img class="image-responsive"  src="../../assets/img/home-city-cafe@2x.png" alt="home">
     <p class="hide"><b>Monteral Cafe</b><br>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. 
       Lorem ipsum dolor sit amet consectetur elit.<br>

        <a routerLink="/portfolio"  class="btn btn-outline-primary text-dark">Learn more</a>
      </p>
 </div>
 <div class="col-sm-6 text-center">
     <img class="image-responsive"  src="../../assets/img/projectone-1@2x.png" alt="home">
     <p class="hide"><b>Denmark Office Suit</b><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Lorem ipsum dolor sit amet consectetur elit.<br>

       <a routerLink="/portfolio"  class="btn btn-outline-primary text-dark">Learn more</a>
     </p>
 </div>
</div>
<div class="row r1">
  <div class="col-sm-6">
      <img class="image-responsive"  src="../../assets/img/home-office-suite@2x.png" alt="home">
      <p class="hide"><b>Denmark office suit</b><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Lorem ipsum dolor sit amet consectetur elit.<br>
 
         <a routerLink="/portfolio"  class="btn btn-outline-primary text-dark">Learn more</a>
       </p>
  </div>
  <div class="col-sm-6"></div>
</div>
</div>
<div class="container">
  <div class="card bg-light m1" style="width:300px; height:350px;">
      <div class="card-body ">
        <p class="title1 pt-5"><b>Monteral Cafe</b></p>
        <p class="para pt-3 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error quaerat dignissimos voluptatibus, labore aperiam quod distinctio cum cupiditate, nisi minima fuga nam inventore iste. Officiis iste ea voluptatum eos!</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="title1" routerLink="/portfolio" style="color: black"><b>Learn More  <i class="fa fa-angle-right "></i></b></a>
      </div>
</div></div>
<div class="container">
<div class="card bg-light m2" style="width:300px; height:350px;">
  <div class="card-body ">
    <p class="title1 pt-5"><b>nmark Office suite</b></p>
    <p class="para pt-3 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error quaerat dignissimos voluptatibus, labore aperiam quod distinctio cum cupiditate, nisi minima fuga nam inventore iste. Officiis iste ea voluptatum eos!</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="title1" routerLink="/portfolio" style="color: black"><b>Learn More  <i class="fa fa-angle-right "></i></b></a>
  </div>
</div>
</div>
<div class="container">
  <div class="card bg-light m3" style="width:300px; height:350px;">
      <div class="card-body ">
        <p class="title1 pt-5"><b>Denmark Office suite</b></p>
        <p class="para pt-3 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error quaerat dignissimos voluptatibus, labore aperiam quod distinctio cum cupiditate, nisi minima fuga nam inventore iste. Officiis iste ea voluptatum eos!</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="title1" routerLink="/portfolio" style="color: black"><b>Learn More  <i class="fa fa-angle-right "></i></b></a>
      </div>
</div>
</div>

<div class="text-center b1">
  <a routerLink="/portfolio"  class="btn btn-outline-primary"><b>More project</b></a>
</div>
<!-- // project ends  -->
 <!-- CUSTOMER REVIEW -->

 <div class="container text-center pt-5 pb-5">
  <p class="tx text-center" style="font-size: 45px"><b>Customer Review </b></p>
  <h4 class="text-center text-capitalize pb-5 pt-3"><b>Our Work and our customer speaks more about us</b></h4>
  <div class="row pt-5">
      <div class="col-sm-6">
          <img   class="i1 image-responsive" src="../../assets/img/pic_11@2x.png" alt="xyz">
          <p class="hide">
              <p class="hide"><b>Denmark Office Suit</b><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Lorem ipsum dolor sit amet consectetur elit.<br>
            <a routerLink="/portfolio"  class="btn btn-outline-primary  text-dark"><b>Read more</b></a></p>
      </div>

      <div class="col-sm-6">
          <img class="i1 image-responsive" src="../../assets/img/Hospitality-Interior-Designers-1@2x.png" alt="xyz" >
          <p class="hide"> 
              <p class="hide"><b>Denmark Office Suit</b><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Lorem ipsum dolor sit amet consectetur elit.<br>
            <a routerLink="/portfolio"  class="btn btn-outline-primary text-dark"><b>Read more</b></a></p>
      </div>
  </div>
  </div>
  <div class="container">
      <div class="card bg-light m4 " style="width:450px; height:385px; ">
          <div class="card-body ">
            <p class="title1 pt-3"><b>eral Cafe</b></p>
            <p class="para pt-3 "><img src="../../assets/img/asset1@2x.png"> ipsum dolor sit amet consectetur adipisicing elit. Maxime error quaerat dignissimos voluptatibus, labore aperiam quod distinctio cum cupiditate, nisi minima fuga nam inventore iste. Officiis iste ea voluptatum eos!</p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="para" style="text-align: right;">-Pankaj Udas  <img src="../../assets/img/asset1@2x.png" ></p> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="title1" routerLink="/portfolio" style="color: black;"><b> View Project </b></a>
          </div>
  </div>
  </div>
  <div class="container">
      <div class="card bg-light m5" style="width:450px; height:385px;">
          <div class="card-body ">
            <p class="title1 pt-3"><b>Monteral Cafe</b></p>
            <p class="para pt-3 "><img src="../../assets/img/asset1@2x.png"> ipsum dolor sit amet consectetur adipisicing elit. Maxime error quaerat dignissimos voluptatibus, labore aperiam quod distinctio cum cupiditate, nisi minima fuga nam inventore iste. Officiis iste ea voluptatum eos!</p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="para" style="text-align: right;">-Pankaj Udas  <img src="../../assets/img/asset1@2x.png" ></p> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="title1" routerLink="/portfolio" style="color: black;"><b> View Project </b></a>
          </div>
  </div>
  </div>
<!-- // customer view ends  -->

 <!-- partnership -->

 <div class="container-fluid" style="margin-top: 180px">
  <p class="text-center tx "  style="font-size: 45px"><b>Our Partner</b></p>
  <h4 class="text-center text-capitalize pb-5 pt-3"><b>We have partnered or Using the best brands material for Aspirational Design.</b></h4>
</div>
<div class="container">
<div class="row row2">
<div class="col-sm-3 coll1">
<img class="image-responsive" src="../../assets/img/asian.jpg">
</div>
<div class="col-sm-3 coll1">
<img class="image-responsive" src="../../assets/img/pepperfry.png">

</div>
<div class="col-sm-3 coll1">
<img class="image-responsive" src="../../assets/img/hettich.png">
</div>
<div class="col-sm-3 coll1">
<img class="image-responsive" src="../../assets/img/fevicol.png">
</div>
</div>
</div>
<!-- // end partnership  -->
<!-- footer1 -->
              
<div class="container-fluid" style="background-color: black;">
  <div class="row frow">
      <div class="col-sm-3 fcoll1" style="color: white; text-align: left;">
  <p class="title1 pt-4 text-left" style="font-size: 25px"><b>About Us</b></p><br>
  <p >5 ELEMENTS is committed to the constructability of client’s ideas; 
    translating the ideas into the reality.
     We have decided that our design practice will be from the inside out; 
    we will make our contribution as interior architects. We believe it takes special expertise to design an outstanding interior space.</p>
    <a  class="title1 pull-right" routerLink="/about" style="color:#007BF7"> View More</a>
    
      </div>
      <div class="col-sm-3 text-left fcoll1" style="color: white">
          <p class="title1 pt-4 "  style="font-size: 25px"><b>Contact Us.</b></p><br>
          <p class="para" style="color:white"><i class="fa fa-phone"></i><em> +91-08048061696</em></p><br>
          <p class="para" style="color:white"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ADDRESS<br>
            B206/207, SYNTHOFINE ESTATE, VISHWESHWAR NAGAR ROAD, OPP VIRWANI INDUSTRIAL ESTATE BACK GATE, GOREGAON(E), Mumbai</p>
      </div>
      <div class="col-sm-3 text-left fcoll" style="color: white">

              <p class="title1 pt-4 "  style="font-size: 25px"><b>Quick Links</b></p><br>
              <p class="text-left pointer" routerLink="/services">Service</p>
              <p class="text-left pointer"routerLink="/about">About</p>
              <p class="text-left pointer" routerLink="/portfolio">portfolio</p>
              <p class="text-left pointer" routerLink="/contact">Contact</p>
              <p class="text-left pointer" routerLink="/blog">Blogs</p>
              <p class="text-left pointer" routerLink="#">Careers</p>
  </div>
  <div class="col-sm-3 text-left fcoll" style="color: white">
    <p class="title1 pt-4 "  style="font-size: 25px"><b>Support </b></p>
    <p class="text-left pointer pt-4 "> FAQ</p>
    <p class="text-left pointer"> Privacy Policy</p>
    <p class="text-left pointer "> Terms of views</p>
    <p class="text-left pointer "> security</p>
  </div>
                  </div>
                  </div>

            

                  <footer class="pt-5" style="background-color:black ;color: white; " >
                   <div>
                     <div class="container-fluid pointer" style="font-size: 18px" >
                       <div class="row">
                          <a  style="font-size: 18px" href="http://www.thefivelements.in" target="_blank"> &copy; thefivelements.in</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <p class="text-center" style="font-size: 18px">  designed and developed by</p>
                          <a  style="font-size: 18px" href="http://www.edunomics.in/" target="_blank"> &nbsp;&nbsp;
                            edunomics tech solutions</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                          <p >Let's connect on </p>
                          &nbsp;&nbsp;&nbsp;
                         <a  href="https://wa.me/9323228876 " target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a href="https://www.facebook.com/kaizeninnove5elements/?__tn__=%2Cd%2CP-R&eid=ARALWKwU0-CV1jELy2l9q9ddy3zlxV0qmpYUV_5yBDHndGIbuvPceAStwkgiHcoL9bxxvRiiA6PWjzJk"
                           target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a href="" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a href="" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a href="" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                     </div>
                     </div>
                   </div>
                         </footer>
                         <!-- //footer1 ends  -->
                         <!-- //footer  -->
                   <!-- <div class="footer fixed-bottom ">
                      <a href="tel:9323228876" class="btn" style="color: white;">
                        <i class="fa fa-phone fa-1x" arial-hidden="true"></i>
                        <br style="text-align: left"><b>Phone</b>
                      </a>&nbsp;&nbsp;
                <a href="http://costfinder.thefivelements.com " target="blank" class="btn" style="color: white;">
                       <br><b>Cost Finder</b>
                      </a>
                      &nbsp;&nbsp;&nbsp;
                      <a href="https://wa.me/9323228876" target="blank" class="btn" style="color: white;">
                        <i class="fa fa-whatsapp fa-1x" arial-hidden="true" ></i>
                        <br><b>WhatsApp</b>
                      </a>
                     </div> -->
                     <!-- //end footer  -->
  